{% extends 'layout.html' %}

{% block sub_content %}
<div class="text-center">
    <h1 style="padding-left: 20px">About</h1>
</div>
    <p style="padding-left: 20px; padding-right: 20px;">This project was an introduction to front-end web development using Python Flask, HTML, and MySQL. This web application was made using a tutorial on Udemy, then I adjusted and added to the foundation to change it from a blogging application to an application where users can review and rate their favorite (or least favorite) albums. There were also many bugs that the original blogging application had which I squashed along the way. In my opinion, I think this project was a great way for me to get my feet wet in front-end development.</p>

{% endblock %}