{% extends "layout.html" %}
{% block sub_content %}
  {% if my_blogs %}
    {% for my_blog in my_blogs %}
      <h3 style="padding-left: 20px"> <a href="/blogs/{{ my_blog['blog_id'] }}">{{my_blog['title']}} - {{my_blog['artist']}}</a> ({{my_blog['rating']}}/10)</h3>
      <h5 style="padding-left: 20px">Written by {{my_blog['author']}}</h5>

      <hr>
    {% endfor %}
  <a href="/my-blogs-edit-mode/" class="btn btn-primary" style="padding-left: 20px">Edit blogs</a>
  {% else %}
    <h3>No blogs have been written yet</h3>
  {% endif %}
{% endblock %}