{% extends "layout.html" %}
{% block sub_content %}
<div class="text-center">
    {% if name['last_name'].endswith('s') %}
        <h1>{{name['first_name']}} {{name['last_name']}}' page</h1>
    {% else %}
        <h1>{{name['first_name']}} {{name['last_name']}}'s page</h1>
    {% endif %}
</div>

<div style="padding-left: 30px">
    <h3>Number of reviews: {{num_of_blogs}}</h3>
</div>

<div style="padding-left: 30px">
    {% if name['last_name'].endswith('s') %}
        <h3> <a href="/user-blogs/{{username}}">View {{name['first_name']}} {{name['last_name']}}' reviews</a> </h3>
    {% else %}
        <h3> <a href="/user-blogs/{{username}}">View {{name['first_name']}} {{name['last_name']}}'s reviews</a> </h3>
    {% endif %}
</div>

{% endblock %}